body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 48%;
    padding: 10px;
    margin: 10px 1%;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#resultado, #detallePrestamo, #historial {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    border-radius: 8px;
}

#vaciar-historial {
    display: block;
    width: 50%;
    margin: 20px auto;
    background-color: #dc3545;
}

#vaciar-historial:hover {
    background-color: #c82333;
}
.banner img {
    height: 300px; /* Altura del banner */
    display: flex; /* Usado para centrar el contenido */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    position: relative; /* Necesario para posicionar el texto */
    color: white; /* Color del texto */
    font-size: 2em; /* Tamaño del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para el texto */
} 
    .logo {
        width: 150px; /* Ancho del logo */
        height: auto; /* Mantiene la proporción */
        display: block; /* Centra el logo en contenedores */
        margin: 20px auto; /* Espaciado superior e inferior */
    }